{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
  <section>
    <h1>Pret a devenir <span>Aventurier</span> ?</h1>
    <p>Creez votre <span>Personnage</span> et partez forger votre <span>Legende</span>.</p>
    <a href="">Creez votre personnage</a>
  </section>
 
  <h2>Votre aventure commence ici</h2>
  <div>
    <div>
      <img src="" alt="Forgez votre héros" />
      <div>
        <p>01 - Forgez votre heros</p>
      </div>
    </div>

    <div>
      <div>
        <p>02 - Ralliez votre groupe</p>
      </div>
      <img src="" alt="Ralliez votre groupe" />
    </div>

    <div>
      <img src="" alt="Partez pour une aventure épique" />
      <div>
        <p>03 - Partez pour une aventure epique</p>
      </div>
    </div>
  </div>
{% endblock %}
