@use "variables" as *;
@use '../base/typographie';


body{
    margin: 0;
    padding: 0;

    background-color: $bgcolor-black;
    font-family: $font-body;
    line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-title;
}

