@font-face {
  font-family: 'dragonlordregular';
  src: url('/public/fonts/dragonlord-font/dragonlordregular.otf') 
}

@font-face {
  font-family: 'dragonpower';
  src: url('/public/fonts/powerofdragon/PowerofDragon-Regular.ttf') 
}

