@use "../base/variables" as *;
@use "../base/mixins" as *;



.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  height: 100px;
  overflow: visible;
}

.navlogo {
  display: flex;
  align-items: center;
  gap: 0.2rem;

  img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    transform: scaleX(-1);
  }

  a {
    font-size: 3.5rem;
    text-decoration: none;
    font-family: $font-style;
    
  }
}

.navlink {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;

  a {
    font-size: 1rem;
    text-decoration: none;
    transition: color 0.2s;
    font-family: $font-title;
  }
}

.navactions {
  display: flex;
  gap: 0.75rem;
}